<% include partials/header %>
<div ng-app>
        <h1>My todolist</h1>
        <ul>
        <% todolist.forEach(function(todo, index) { %>
            <li>
                <a href="/todo/delete/<%= index %>">✘</a> 
				 <a href="/todo/edit/<%= index %>/<%= todo %>">➕</a> 
                <%- todo %>
            </li>
        <% }); %>
        </ul>

        <form action="/todo/add/" method="post">
            <p class="add">
                <label for="newtodo">What shoud I do?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" />
            </p>
        </form>


        <div >
            <p>
				<% if  (typeof updatetodo !== "undefined")  {%>
				 <form action="/todo/add/" method="post">
                <label for="updatetodo">What shoud I do?</label>
                <input type="text"  name="updatetodo" id="updatetodo" value=<%=updatetodo%>  autofocus />
                <input type="submit" text ="update" />
				 
				</form>
				 <% } %>
            </p>
    </div>
	</div>

<% include partials/footer %>

<script>
  if  (typeof updatetodo !== "undefined") { $(.add).hide(); }
</script>
