<% include partials/header %>
<div >
        <h1>My todolist</h1>
        <ul>
        <% todolist.forEach(function(todo, index) { %>
            <li>
                <a href="/todo/delete/<%= index %>">✘</a> 
				 <a href="/todo/edit/<%= index %>/<%= todo %>">➕</a> 
                <%- todo %>
            </li>
        <% }); %>
        </ul>

 <label for="updatetodo">What shoud I do?</label>

<% if  (typeof updatetodo === "undefined")  {%>
        <form action="/todo/add/" method="post">
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" />
        </form>
 <% } %>

				<% if  (typeof updatetodo !== "undefined")  {%>
				<form action="/todo/edit/<%= id %>"" method="post">
                <input type="text"  name="updatetodo" id="updatetodo" value=<%=updatetodo%>  autofocus />
                <input type="submit" text ="update" />
				 
				</form>
				 <% } %>
	</div>

<% include partials/footer %>

<script>
  if  (typeof updatetodo !== "undefined") { $(.add).hide(); }
</script>
